<div class="tableContainer">
  <label
    >Search Products:-
    <input type="text" [(ngModel)]="searchText" (input)="handleInput($event)" />
  </label>

  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th (click)="sortPrice()">Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of allData">
      <tr>
        <td>{{ product.productName }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
